h1,h2,h3,h4,h5,h6,span,a{
    font-family: 'Prompt', sans-serif;
}
p{
    font-family: 'Azeret Mono', monospace;
}
img{
    max-width: 100%;
}
/* main css */
.headermain{
    background-color: #1abc9c;
}
/* header img */
.headerimg{
    position: relative;
    top: 10px;
}
.headerimg img {
    width: 50px;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    background: #f7f9ff;  
}
.headerimg img:hover{
    transform: scale(1.2) skew(1deg);
    transition: .5s;
}
.headerimg span{
    margin-left: 13px;
    font-size: 20px;
}
/* header menu */
.mainmenu{}
.mainmenu ul{
    margin-top: 13px;
}
.mainmenu ul li{
    display: inline-block;
}
.mainmenu ul li a{
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    color: black;;
    font-size: 20px;
    border-radius: 5px;
    margin-left: -4px;
    margin-left: -4px;
}
.mainmenu ul li a:hover{
    background-color: #16a085;
    transition: .5s;
    bottom: 5px;
    position: relative;
}
/* Home */
/* banner */
.banner{
    background-image: url(./img/welcome\ banner.jpg);
    padding: 200px 0;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    z-index: -1;
}
.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
}
.banner-content h1{
    margin-bottom: 25px;
    text-align: center;
    background-color: #ddd;
    color: rgba(0,0,0,.7);
    max-width: 344px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.banner-content p{
    background-color: #ddd;
    color: rgba(0,0,0,.7);
    max-width: 344px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
/* template */
.template-left {
    margin-top: 110px;
}
.template-left p{
    max-width: none;
    background-color: #f7f9ff;
    color: black;
    margin-top: 30px;
}
.template-left h1{
    margin: 36px 0;
}
#template{
    background-color: #f7f9ff;
}
/* about me */
.aboutmeimg{}
.aboutmeimg img{
    border-radius: 50%;
    transition: .5s;
}
.aboutmeimg img:hover{
    border-radius: 0;
    transition: .5s;
    transform: scale(1.1);
}
.me-contain-left{
    margin-left: 10px;
}
/* service skills */
.servicecontentimg img{
    width: 50px;
    height: auto;
}
/* marketplace */
#marketplace{
    background:#f7f9ff;
}
/* footer */
#footer{
    background-color: #bdbec4;
}
